<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<h1>동아리 목록</h1>
<table>
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>가입일</th>
        <th>탈퇴</th>
    </tr>
    <tr th:each="club : ${clubs}">
        <td th:text="${club.getId()}"></td>
        <td>
            <a th:href="@{/schools/{schoolId}/clubs/{clubId}(schoolId=${schoolId}, clubId=${club.getId()})}"
               th:text="${club.getName()}"></a>
        </td>
        <td th:text="${club.getJoinedAt()}"></td>
        <td>
            <form th:action="@{/schools/{schoolId}/clubs/{clubId}/students(schoolId=${schoolId}, clubId=${club.getId()})}"
                  th:method="delete">
                <input type="hidden" name="studentIds" th:value="${studentId}"/>
                <input type="submit" value="탈퇴">
            </form>
        </td>
    </tr>
</table>

<div th:if="${clubs.size() < 2}">
    <h3>가입 가능한 동아리 목록</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>이름</th>
            <th>가입하기</th>
        </tr>
        <tr th:each="joinableClub : ${joinableClubs}">
            <td th:text="${joinableClub.getId()}"></td>
            <td>
                <a th:href="@{/schools/{schoolId}/clubs/{clubId}(schoolId=${schoolId}, clubId=${joinableClub.getId()})}"
                   th:text="${joinableClub.getName()}"></a>
            </td>
            <td>
                <form th:action="@{/schools/{schoolId}/clubs/{clubId}/students(schoolId=${schoolId}, clubId=${joinableClub.getId()})}"
                      method="post">
                    <input type="hidden" name="studentIds" th:value="${studentId}"/>
                    <input type="submit" value="가입">
                </form>
            </td>
        </tr>
    </table>

</div>
</body>
</html>