<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Club</title>
</head>
<body>
<h1>동아리 목록</h1>
<a href="/schools">학교 목록 바로가기</a>
<a th:href="@{/schools/{schoolId}/clubs/create(schoolId=${schoolId})}">등록</a>

<table>
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>삭제</th>
    </tr>
    <tr th:each="club : ${clubs}">
        <td th:text="${club.id}"></td>
        <td>
            <a th:href="@{/schools/{schoolId}/clubs/{clubId}(schoolId=${schoolId}, clubId=${club.id})}"
               th:text="${club.name}"></a>
        </td>
        <td>
            <form th:action="@{/schools/{schoolId}/clubs(schoolId=${schoolId})}" th:method="delete">
                <input type="hidden" name="id" th:value="${club.id}">
                <input type="submit" value="삭제">
            </form>
        </td>
    </tr>
</table>

</body>
</html>